[submodule "vim-plug"]
	path = submodules/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "submodules/lazy.nvim"]
	path = submodules/lazy.nvim
	url = https://github.com/folke/lazy.nvim.git
